/*media Proyecto*/
@media  (max-width: 460px) {
  body{
    overflow: hidden;
    background: linear-gradient(45deg, #2a0ff3,#5b76e3);
  }
  .header {
        position: fixed;
        height: 100px;
        padding: 20px 10%;
        z-index: 1000;
        justify-content: space-around;
    }
    .logo{
        color: blue;
        margin-left: -10px;
    }
    .header label {
        display: initial;
    }
    .header .navItems{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.20);
        display: none;
    }
    .header .navItems li {
        background-color: rgb(164, 152, 244);
        width: 100%;
    }
    .header .navItems li a {
        font-size: 30px;
        font-weight: bold;
        color: blue;
        padding: 8px 30px 8px 10px;
    }

    #toggle:checked ~ .navItems {
        display: block;
    
    }
    .experience__img{
        margin-top: -70px;
        height: 200px;
        width: 350px;
    
    }
    .experience{
        margin-left: 20px;
        margin-top: 0;
        height: 800px;
        background: none;
        box-shadow: none;
    }
    .experience__section__title{
        margin-top: 0;
        height: 200px;
        padding-top: 110px;
       
    }
    .experience__description{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        height: 200px;
        width: 250px;
        margin-left: 45px;
    }
   
    

    
   
 
   
}
