/*media Proyecto*/
@media  (max-width: 460px) {
  body{
    overflow: hidden;
    background: linear-gradient(45deg, #2a0ff3,#5b76e3);
  }
  .header {
        position: fixed;
        height: 100px;
        padding: 20px 10%;
        z-index: 1000;
        justify-content: space-around;
    }
    .logo{
        color: blue;
        margin-left: -120px;
    }
    .header label {
        display: initial;
    }
    .header .navItems{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.20);
        display: none;
    }
    .header .navItems li {
        background-color: rgb(164, 152, 244);
        width: 100%;
    }
    .header .navItems li a {
        font-size: 30px;
        font-weight: bold;
        color: blue;
        padding: 8px 30px 8px 10px;
    }

    #toggle:checked ~ .navItems {
        display: block;
    
    }
   
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0px;
    }
    .cols0{
        padding-top: 250px;
        width: 100%;
        height: 400px;
        font-size: 10px;
    }
    .nav{
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100px;
        background: none;
    }
    .sm-header{
        font-size: 26px;
        margin: 0;
        color: #fff;
    }
    .line{
        display: none;
    }
    .nav-link{
        margin-top: 0;
        
    }
    .contacto{
        margin-top: 140px;
        width: 100%;
        height:500px ;
    }
    .formcontato__textarea{
        height: 100px;
        margin-bottom: 0;
    }
    .formcontato__botao{
        margin-top: 6px;
        margin-left: -5px;
        width: 300px;
        text-align: center;
        
    }

    
   
 
   
}
