/*media habilidades*/
@media  (max-width: 820px) {
    body{
        overflow: visible;
        background: rgb(111, 111, 234) ;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }
    .topline{
        margin-top: 40px;
    }
    .contacto{
        
        margin-bottom: 150px;
        z-index: 5;
       
    }

 
}
