/*media formacion*/
@media  (max-width: 460px) {
  body{
    overflow:
    hidden;
    background: rgb(111, 111, 234) ;
  }
  .header {
        position: fixed;
        height: 100px;
        padding: 20px 10%;
        z-index: 1000;
        justify-content: space-between;
    }
    .logo{
        color: blue;
        margin-left: -10px;
    }
    .header label {
        display: initial;
    }
    .header .navItems{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.20);
        display: none;
    }
    .header .navItems li {
        background-color: rgb(164, 152, 244);
        width: 100%;
    }
    .header .navItems li a {
        font-size: 30px;
        font-weight: bold;
        color: blue;
        padding: 8px 30px 8px 10px;
    }

    #toggle:checked ~ .navItems {
        display: block;
    
    }
   
    .wrapper{
        width: 100%;
        height: 1000px;
        margin-left: -20px;
        padding: 0;
        background:none;
        justify-content:left;
    }
    .cademic__title{
        text-align: center;
    }

    .academic{
        margin-top: 120px;
        flex-direction: column;
        width: 90%;
        height: 800px;
    }
   .academic__courses{
    flex-direction: column;
    justify-content: center;
    
   }
   .academic__courses__box{
    margin: 20px;
    width: 300px;
    height: 300px;

   }
    
 
   
}
