/*media habilidades*/
@media  (max-width: 460px) {
  body{
    overflow: hidden;
    background: rgb(111, 111, 234) ;
  }
  .header {
        position: fixed;
        height: 100px;
        padding: 20px 10%;
        z-index: 1000;
    }
    .logo{
        color: blue;
        margin-left: -140px;
    }
    .header label {
        display: initial;
    }
    .header .navItems{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.20);
        display: none;
    }
    .header .navItems li {
        background-color: rgb(164, 152, 244);
        width: 100%;
    }
    .header .navItems li a {
        font-size: 30px;
        font-weight: bold;
        color: blue;
        padding: 8px 30px 8px 10px;
    }

    #toggle:checked ~ .navItems {
        display: block;
    }
    .container{
        justify-content: space-evenly;
        flex-direction: column;
    }
    .wrapper{
        
        flex-direction: column;
        width: 120%;
        padding: 0;
        margin-left: -30px;
        background:none;
        
    }
   
    .contenedor__titulo{
        margin-top: 160px;
      
    }
    .carrosel__principal{
        z-index: 5;
    }
    .caixa__card{
        padding-top: 40px;
        width: 180px;
        font-size: 30px;
        
        background: linear-gradient(45deg, #2a0ff3,#5c5ff7);
    }
   
 
   
}
