/*media home*/
@media  (max-width: 460px) {
  body{
      overflow: hidden;
      background: rgb(111, 111, 234) ;
  }
  .header {
      position: fixed;
      height: 100px;
      padding: 20px 10%;
      z-index: 1000;
  }
  .logo{
      color: blue;
      margin-left: -140px;
  }
  .header label {
    display: initial;
  }
  .header .navItems{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.20);
    display: none;
  }
  .header .navItems li {
    background-color: rgb(164, 152, 244);
   
    width: 100%;
  }
  .header .navItems li a {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 8px 30px 8px 10px;
  }

  #toggle:checked ~ .navItems {
    
    display: block;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h1{
    font-size: 30px;
  }
  .parrafo{
    font-size: 30px;
    text-align: justify;
   
  }
  .cols{
    width: 100%;
    height: 400px;
   
  }
  .cols1{
    display: none;
    
  }
  .btns{
    margin-left: -160px;
  }
  .btns button{
    width: 270px;

  }
  
  
}
